body{
    text-align: center;
    background-color:#247BA0;
}
#d1{
    padding-bottom: 10px;
}
#d2{
    padding-bottom: 10px;
}
#d3{
    padding-bottom: 10px;
}
input{
    margin-top:10px;
}
h1{
   padding:30px; 
   color:black;
}
h2{
    padding-top:30px;
}